---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "syntax-highlighting"
;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    width: 100%;
    height: 100%;

    background: #ECE9E6; /* fallback for old browsers */

    color: #333;

    font-size: 1.1rem;
    line-height: 1.75rem;
}

// Main Nav Header
body > header {
    // padding: 0 25px;
    width: 100%;
    background: #fff;

    img {
        display: block;
        margin: 0 auto;
    }

    ul {
        list-style: none;
        margin:0;
        padding:0;
        text-align:center;

        li {
            display:inline;
            margin: 0 0.1rem;
            position: relative;
            top: 1.75rem;
            height: 1rem;

            a {
                display:inline-block;
                padding:10px;
                min-width: 5rem;
                background: #81C784;
                color: #222;
                text-decoration: none;
                border-radius: 0.25rem;
                border: 6px solid white;

                &:hover{
                    background: #609462;
                }
            }

            &.active {
                // a { border: none; }
            }

            &:nth-child(even){
                a {
                    background: #64B5F6;
                    &:hover{ background: #4F8FC3; }
                }

            }
        }
    }
}

main {
    /*margin-top: 75px;*/
    margin: 0px;
    border-top: 10px solid #333;
    padding: 50px 8px 75px;

    &.games {
        border-top: 10px solid #81C784;

        .filters {
            display: block;
            text-align: center;
        }

        #gameTextFilter {
            width: 50%;
            margin: 0 auto;
            display: block;
            background: transparent;
            border: none;
            border-bottom: 1px solid grey;
            text-align: center;

            &:focus {
                outline: none;
                border-bottom: 1px solid black;
            }
        }

        article.flex-item {
            padding: 0;
            background: none;
            border: none;
            position: relative;
            flex-grow: 0;

            a {
                position: relative;

                .img-holder {
                    background: #232526; /* fallback for old browsers */
                    background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    color: white;

                    img {
                        width: 100%;
                        max-height: 100px;
                        min-height: 100px;
                        object-fit: cover;
                    }

                    .no-img {
                        line-height: 100px;
                        text-align: center;
                        margin: 0;

                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        text-align: center;
                    }
                }

            }

            .ribbon {
                text-align: center;
                display: block;
                width: 100%;
                background: #81C784;
                color: white;
                font-size: 50%;
                margin: 0;
                font-weight: initial;
            }
        }
    }

    &.blog {
        border-top: 10px solid #64B5F6;

        article ul {
            padding-left: 45px;
        }
    }

    &.categories {
        ul {
            list-style: none;
            li {
                margin: 0;
            }
        }
        h6 {
            line-height: 1rem;
            margin: 0.75rem 0;
        }
    }

    .share {

        text-align: center;
        h4 {
            margin-bottom: 0;
        }

        a {
            .google,
            .reddit {
                display: inline-block;
                width: 48px;
                height: 48px;
                background-color: #DC4E41;

                svg {
                    width: 24px;
                }
            }
            .reddit {
                background-color: #EF7E00;
            }
            svg {
                width: 48px;
                height: 48px;
            }
        }
    }

    section {
        margin-top: 4rem;
    }

    > header {
        // padding: 2rem 1rem 0;
        text-align: center;

        h1 {
            margin: 0.2rem 0;
            line-height: 2.1rem;
            font-weight: 300;
        }

        h3 {
            font-size: 1.2rem;
            margin: 0;
            color: #7C979F;
            line-height: 2rem;
        }

        h5 {
            font-size: 1rem;
            margin: 0 0 0 0;
            color: #7C979F;
            line-height: 1.2rem;
        }
    }

    header {
        p {
            margin: 0;
        }
        h2 a {
            color: inherit;
        }
        ul {
            padding: 0;
            margin: 0.25rem 0 1rem 0;
            list-style: none;
            line-height: 1rem;
            li {
                font-size: 1rem;
                display: inline-block;
                &:after {
                    content: ","

                }
                &:last-child:after {
                    content: ""
                }
            }
        }
    }

    article {
        padding: 1rem 1rem 0.5rem 1rem;
        background-color: #FFFFFF;
        margin-bottom: 2.25rem;
        border: 1px solid #ddd;
        border-top: 5px solid #666;
        box-shadow: 5px 10px 0px rgba(0,0,0,0.01);

        > h1,
        > h2,
        > h3,
        > h4,
        > h5,
        > h6 {
            margin-top: 0;
        }

        header {
            h2 {
                margin: 0;
            }
            ul {
                margin-top: 0;
            }
        }

        .post-description p{
            margin-bottom: 0.1rem;
        }

        &.flex-item {
            margin: 0.5rem;
        }
    }
}

#team {
    text-align: center;

    h1 {
        text-align: initial;
    }
    h4 {
        margin: 0.5rem 0;
    }
    img {
        border-radius: 50%;
        max-width: 256px;
        height: auto;
        margin: 0 auto;
        display: block;
    }
    svg {
        width: 32px;
        height: 32px;
        fill: #333;
    }
    .flex-item {
        margin-bottom: 2rem;
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 24px;
    width: 100%;
    padding: 12px;
    text-align: center;
    background: #616161;
    color: #f7f7f7;

    a {
        display: inline-block;
        width: 32px;
        height: 32px;
        margin: 0 10px;
        background: #616161;
        position: relative;
        top: -28px;
        border: 3px solid #616161;
        border-radius: 50px;
        padding: 2px;

        svg use {
            fill: #FFFFFF;
        }
    }
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content:center;
}

.flex-item {
    -webkit-flex: 1 0 100%;
    flex: 1 0 100%;
}

path { transition: fill .4s ease; }

#svg-defs {
    display: none;
}

.twitter:hover svg{
    fill: #55ACEE !important;
}

.youtube:hover svg{
    fill: #e52d27 !important;
}
.gplus:hover svg{
    fill: #DC4E41 !important;
}

.github:hover svg {
    fill: #4078c0 !important;
}

.top:hover svg {
    fill: #ccc;
}

.pagination {
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    p {
        margin: 0;
    }
}

@media (min-width: 400px) {
    footer {
        height: 28px;

        a {
            width: 42px;
            height: 42px;
        }
    }
    body > header img {
        max-width: 75%;
    }
}

@media (min-width: 600px) {
    body > header img {
        max-width: 50%;
    }
    main {
        padding: 50px 25px 75px
    }
    .flex-item {
        -webkit-flex: 1 0 40%;
        flex: 1 0 40%;
    }
}

@media (min-width: 900px) {
    html {
        font-size: 1.2rem;
    }
    body > header img {
        max-width: 35%;
    }
    main {
        padding: 50px 50px 75px
    }
    .flex-item {
        -webkit-flex: 1 0 30%;
        flex: 1 0 30%;
    }
}

@media (min-width: 1200px){
    body > header img {
        max-width: 25%;
    }
    main {
        padding: 100px 75px 125px
    }
}

@media (min-width: 1400px){
    html {
        font-size: 1.5rem;
    }
    // body > header img {
    //     max-width: 25%;
    // }
    footer a {
        width: 48px;
        height: 48px;
        top: -32px;
    }
}

@media (min-width: 1800px){
    // html {
    //     font-size: 1.95rem;
    // }
    // body > header img {
    //     max-width: 25%;
    // }
    main {
        padding: 150px 75px 150px;

        .share {
            text-align: center;
            h4 {
                margin-bottom: 0;
            }

            a {
                .google,
                .reddit {
                    width: 64px;
                    height: 64px;

                    svg {
                        width: 32px;
                    }
                }
                svg {
                    width: 64px;
                    height: 64px;
                }
            }
        }
    }
    .flex-item {
        -webkit-flex: 1 0 20%;
        flex: 1 0 20%;
    }
}


.hidden {
    display: none;
}
.no-pad {
    padding: 0 !important;
}