---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "syntax-highlighting",
        "pure.min",
        "grids-responsive-min",
        "side-menu",
        "blog"
;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
    text-decoration: none;
    color: #64B5F6;
}

.team-member {
    text-align: center;
}

.team-member img {
    border-radius: 50%;
    max-width: 256px;
    height: auto;
    margin: 0 auto;
}

.team-member h2 {
    margin: 5px;
}

.team-member .social {
    margin-bottom: 25px;
}

.team-member a {
    text-decoration: none;
}

.team-member svg {
    width: 32px;
    height: 32px;
}

.team-member svg path {
    fill: #999;
}

.team-member svg:hover path {
    fill: #333;
}

.center {
    text-align: center;
}

html {
    font-size: 17px;
    position: relative;
    min-height: 100%;
}

body {
    background-color: #fff;
    color: #616161;
}

body.footer {
    margin: 0 0 75px;
}

footer {
    position: fixed;
    left:0;
    bottom:0;
    height:50px;
    width:100%;
    padding: 13px;
    text-align: center;
    background-color: #616161;
    color: #f7f7f7;
}

* {
    font-family: 'Lato', sans-serif;
}

pre, code, code span {
    font-family: 'Source Code Pro', monospace !important;
}

.share {
    text-align: center;
}

.share h4 {
    margin-bottom: 0;
}

.share a {
    text-decoration: none;
}

.share .reddit {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: #EF7E00;

    svg {
        width: 24px;
    }

}

.share .google {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: #DC4E41;

    svg {
        width: 24px;
    }

}

.games {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content:center;
}

.game {
    -webkit-flex: 0 0 220px;
    flex: 0 0 220px;
    height: 220px;
    margin: 10px;

    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.game:hover {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
}

.game .spacer{
    display: inline-block;
    vertical-align: middle;
}

.game img {
    vertical-align: middle;
}

#home #logo-main {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.blocks {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content:center;
}

.block {
    -webkit-flex: 1 25%;
    flex: 1 25%;
    padding: 50px;
    text-align: center;
    font-size: 1.5em;
}

a.block {
    text-decoration: none;
    color: inherit;
}

.block-full {
    -webkit-flex: 1 100%;
    flex: 1 100%;
    padding: 50px;
    text-align: center;
    // font-size: 2em;
    background-color: #616161;
    color: #f7f7f7;
}

#home .block:nth-child(1n) {
    background: #E57373;
}

#home .block:nth-child(2n) {
    background: #FFB74D;
}

#home .block:nth-child(3n) {
    background: #FFF176;
}

#home .block:nth-child(4n) {
    background: #81C784;
}

#home .block:nth-child(5n) {
    background: #64B5F6;
}

#home .block:nth-child(6n) {
    background: #BA68C8;
}

.social-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0px 10px;
}

footer .social-icon {
    width: 24px;
    height: 24px;
}

h3.read-in {
    margin-bottom: 0;
}

h5.read-in {
    margin-top: 0;
}

figure {
    margin-left: 0;
}

@media (max-width: 48em) {
    .block {
       -webkit-flex: 1 50%;
        flex: 1 50%;
        padding: 30px;
        font-size: 1.25em;
    }
    .block-full {
        padding: 30px 0;
    }
    .social-icon {
        width: 32px;
        height: 32px;
    }
    footer {
        position: absolute;
    }

}

@media (min-width: 48em) {
    #home {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    #home #logo-main {
        height: 85%;
        width: auto;
    }
    #home .block {
        padding: 25px;
    }
    #home .block-full {
        padding: 25px;
    }
}