<header>
    <a href="/"><img src="http://www.sacredseedstudio.com/assets/images/logo-large.png" alt="Sacred Seed Studio Logo"></a>
    <ul>
        {% for link in site.navigation %}
            {% assign current = nil %}
            {% assign curpage = page.url | downcase | split: '/' %}
            {% if page.url == link.url or page.nav_layout == link.nav_layout or curpage[1] == link.nav_layout %}
                {% assign current = 'active' %}
            {% endif %}
            <li class="{{ current }}"><a href="{{ link.url | prepend: site.baseurl }}">{{ link.text }}</a></li>
        {% endfor %}
    </ul>
</header>
