<article class="flex-item flex-col-container">
    <header class="">
        {{ if .Params.no_link }}
        <a class="header-link" title="{{ .Title }}">
        {{ else }}
        <a class="header-link" href="{{if .Params.direct_link }}{{ .Params.direct_link }}{{else}}{{ .Permalink }}{{end}}" title="{{ .Title }}">
        {{ end }}
            {{ if .Params.image }}
            <div class="image-header" style="background-image: url({{ .Site.BaseURL }}{{ .Params.image }});"></div>
            {{ else }}
            <div class="image-header"></div>
            {{ end }}
            <h2>{{ .Title }}</h2>
            <p>
                {{ .Date.Format "Jan 2, 2006" }}
            </p>
        </a>

        {{ if .Params.categories }}
            <ul class="no-pad">
                {{ range .Params.categories }}
                    <li><a href="/categories/{{ . }}">{{ . }}</a></li>
                {{ end }}
            </ul>
        {{ end }}
    </header>
    <div class="post-description ">
        {{ .Summary }}
    </div>
    {{ if .Params.no_link }}
    {{else}}
    <div class="continue ">
        <p><a href="{{if .Params.direct_link }}{{ .Params.direct_link }}{{else}}{{ .Permalink }}{{end}}" class="continue">Play Now</a></p>
    </div>
    {{ end }}
</article>