---
layout: page
nav_layout: blog
title: Blog
class: blog
---
<div class="posts">

    {% for post in paginator.posts %}
        <article>
            <header>
                <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                <p>
                    {{ post.date | date: "%b %-d, %Y" }}
                    {% if post.author %}
                         •
                        <span href="" class="post-author">{{ post.author }}</span>
                    {% endif %}
                     • Read in {{ post.content | reading_time }}
                </p>
                {% if post.categories %}
                <ul>
                    {% for category in post.categories %}
                        <li><a href="{{ "/categories#" | prepend: site.baseurl | append: category }}">{{ category }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </header>
            <div class="post-description">
                {{ post.excerpt }}
                <a href="{{ post.url | prepend: site.baseurl }}" class="continue">Continue reading...</a>
            </div>
        </article>
    {% endfor %}

    {% if paginator.total_pages > 1 %}
        <div class="pagination">
            <p>{{ paginator.page }} of {{ paginator.total_pages }}</p>
            {% if paginator.previous_page %}
              <a href="{{ paginator.previous_page_path | replace: 'index.html', '' }}" class="">Newer</a>
            {% endif %}

            {% if paginator.next_page %}
              <a href="{{ paginator.next_page_path }}" class="demo-nav__button">Older</a>
            {% endif %}
        </div>
    {% endif %}

</div>